<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css" />
		<script src='script.js'></script>
		<link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
		<title>An adventure of balloony</title>
	</head>
	<body>
		<div class="header">
			<h1>Balloony in the sky</h1>
		</div>
		<div class="instruction">
			<h4>Help Ballony find a rainbow in the clouds!</h4>
			<p>Use 'R', 'L', 'U' or 'D' keys to go right, left, up or down</p>
		</div>
		
		<div class="content">
			<img src="http://theawesomer.com/photos/2012/06/290612_team_fortress_2_balloonicorn_t.jpg" class="balloonicorn"/>
			<img src="http://openclipart.org/people/Clue/Clue_Simple_Clouds.svg" class="sky"/>
			<img src="http://openclipart.org/image/250px/svg_to_png/5512/shokunin_rainbow.png" class="rainbow"/>
		</div>
		
		<div class="footer">
			<p>
				Copyright 2013 - <a href="https://twitter.com/eleonoremayola">@EleonoreMayola</a><br>
				* * * 
				<div class="smaller">
					sky and rainbow from <a href="http://openclipart.org/">Open Clip Art Library</a><br>
					balloonicorn from <a href="http://theawesomer.com/">The Awesomer</a>
				</div>
			</p>
		</div>
		   
	</body>
</html>